body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #E0E0E0;
    margin: 20px;
    padding: 20px;
}
h1, h2 {
    text-align: center;
    color: #03a9f4;
}
ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}
li {
    margin: 10px 0;
}
a {
    text-decoration: none;
    color: #03DAC6;
    font-size: 18px;
    transition: color 0.3s;
}
a:hover {
    text-decoration: underline;
    color: #03a9f4;
}
#data-container {
    margin-top: 20px;
    border-top: 2px solid #03a9f4;
    padding-top: 10px;
    background-color: #1E1E1E;
    padding: 15px;
    border-radius: 8px;
}
pre {
    background-color: #292929;
    padding: 15px;
    border-radius: 5px;
    overflow-x: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 14px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #1E1E1E;
    color: #E0E0E0;
}
th, td {
    padding: 10px;
    border: 1px solid #03a9f4;
    text-align: left;
}
th {
    background-color: #03a9f4;
    color: #121212;
}
a {
    color: #03DAC6;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: #03a9f4;
}
#download-btn {
    margin-bottom: 10px;
    padding: 8px 12px;
    background-color: #03a9f4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
#download-btn:hover {
    background-color: #0288d1; /* Slightly darker shade on hover */
}
#download-message {
    display: none;
    color: #03a9f4;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}

#reset-alarm-btn, #defrost-btn {
    display: none;
    margin-right: 10px;
    padding: 8px 16px;
    background-color: #03a9f4;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}